.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: rgba(156, 143, 143, 0.426);
  min-height: 700px;
  border-radius: 6px;
}

.card h2 {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
}

.card h3 {
  color: white;
  padding-bottom: 1rem;
  font-size: 2rem;
}

.card p {
  color: white;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  min-width: 300px;
}

.card button {
  color: white;
  background-color: transparent;
  border: 1px solid;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}

.card button:hover {
  background-color: rgba(255, 255, 255, 0.512);
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .card p {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card p {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .card p {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
